*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header.navbar-container {
  width: 100%;
  max-width: 1500px;
  padding-block: 0.5rem;
  padding-left: 5%;
  padding-right: 7%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e9ecef;
}

header.navbar-container .logo img {
  width: 300px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
  line-height: 1.5rem;
}

header.navbar-container .nav-list li:hover a {
  background-color: green;
  color: white;
}

/* Mobile Navigation Toggle Styles */
.mobile-menu-toggle {
  display: none;
  cursor: pointer;
}

.mobile-menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

/* Mobile Navigation Menu Styles */
.mobile-nav-list {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e9ecef;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mobile-nav-list.show {
  display: block;
}

.mobile-nav-list ul {
  padding: 0;
  list-style-type: none;
}

.mobile-nav-list li {
  text-align: center;
}

.mobile-nav-list a {
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.mobile-nav-list a:hover {
  background-color: green;
  color: white;
}

main {
  flex: 1;
  width: 100%;
  max-width: 1500px;
  margin-inline: auto;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
}

main .content {
  flex: 1; /* The div will grow and shrink in same proportion as the window-size */
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1 1; /* ukuran flex 1:1 */
}

main .content .content-description .title {
  margin-block: 1rem;
  font-size: 3.5rem;
  line-height: 4.5rem;
}

main .content .content-description .title span {
  color: orange;
}

main .content .content-description p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin-block-start: 2rem;
  text-align: justify;
}

main .content .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;
  background-color: green;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button:hover {
  border: 3px solid green;
  background-color: transparent;
  color: green;
}

main .content .content-image {
  flex: 0.7;
  display: flex;
}

main .content .content-image img {
  width: 500px;
  min-width: 450px;
  margin: auto;
}

main .proli-section {
  margin: auto;
  padding: 2rem 0;
  text-align: center;
}

main .proli-section .article-container {
  display: flex;
  justify-content: space-around;
}

main h2.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

main .proli-section article {
  flex: 0.48; /* Adjust the width of each article as needed */
  margin: 0.5rem;
  padding: 1rem;
  border: 1px solid #ddd; /* Optional border for styling */
  border-radius: 8px; /* Optional border radius for styling */
  background-color: #f9f9f9; /* Optional background color for styling */
}

main .proli-section article img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional border radius for styling */
  margin-bottom: 1rem;
}

main .new-section article h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

main .proli-section article p {
  font-size: 1rem;
}

main .mitra-section {
  max-width: 100%;
  margin: auto;
  padding: 2rem 0;
  text-align: center;
}

main .mitra-section .section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

main .mitra-section .logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .mitra-section img {
  width: 150px; /* Set a fixed width for the logos */
  height: auto;
  margin: 1rem;
  flex-shrink: 0;
}

main .tentang-kami-section {
  max-width: 1500px;
  margin: auto;
  padding: 7rem 0;
  text-align: center;
}

main .tentang-kami-section .section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

main .tentang-kami-section .card-container {
  max-width: 1500px; /* Adjust the maximum width as needed */
  margin: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

main .tentang-kami-section .card-headmaster {
  display: flex;
  flex-direction: column; /* Change to column direction */
  align-items: center; /* Center horizontally */
  padding: 1.5rem;
}

main .tentang-kami-section .headmaster-photo {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

main .tentang-kami-section .headmaster-photo img {
  width: 150px; /* Adjust the width of the headmaster's photo */
  height: auto;
  border-radius: 50%;
  display: block; /* Ensure the image is centered */
}

main .tentang-kami-section .headmaster-info {
  text-align: center;
  margin-bottom: -2rem;
}

main .tentang-kami-section .card-preface {
  padding: 1rem 1.5rem;
  text-align: center;
}

main .tentang-kami-section .facilities-subsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust the alignment as needed */
  align-items: flex-start; /* Adjust the alignment as needed */
  margin-top: 2rem;
}

main .tentang-kami-section .facilities-subsection h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

main .tentang-kami-section .facilities-subsection .facility-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust the alignment as needed */
  align-items: flex-start; /* Adjust the alignment as needed */
}

main .tentang-kami-section .facilities-subsection img {
  max-width: calc(33.33% - 1rem); /* Adjust the width of each image */
  height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
  flex-shrink: 0;
  border-radius: 8px; /* Optional border radius for styling */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Contact Section */
main .kontak-section {
  padding: 7rem 0;
}

main .kontak-section .section-title,
main .kontak-section .section-text {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  padding: 2rem 0;
}

/* Style for Contact Form */
.contact-form {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.contact-form input,
.contact-form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.contact-form button {
  padding: 0.8rem 2.5rem;
  margin-top: 1rem;
  border: 3px solid transparent;
  border-radius: 999px;
  background-color: green;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.contact-form button:hover {
  border: 3px solid green;
  background-color: transparent;
  color: green;
}

/* Style for Map Container */
.map-container {
  flex: 1;
  margin-left: 2rem; /* Adjust margin as needed for spacing between form and map */
}

/* Additional styling for Google Maps iframe (if needed) */
.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Footer */
footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 1rem 0 1rem;
}

footer .social {
  padding: 1rem 0;
  font-size: 1.5rem;
}

footer .social a {
  color: green;
  margin: 1rem;
}

footer .social a:hover,
footer .link a:hover {
  color: orange;
}

footer .link {
  margin-bottom: 1rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
  line-height: 1.5rem;
}

footer .link a {
  color: black;
  padding: 0.7rem 1rem;
  text-decoration: none;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: green;
  font-weight: 700;
  text-decoration: none;
}

/* Aside Social Media Button */
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: green;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: orange;
}

/* WhatsApp Floating Button */
.whatsapp-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  padding: 25px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: colorChange 0.5s infinite alternate; /* Add animation for color change */
}

.whatsapp-floating i {
  font-size: 45px;
  color: white;
}

.whatsapp-floating:hover {
  background-color: orange;
  animation: none; /* Disable the animation on hover */
}

@keyframes colorChange {
  0% {
    background-color: green;
  }
  100% {
    background-color: orange;
  }
}

/* Medium devices (768px and below) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    padding: 1rem;
  }

  main .content {
    flex-direction: column;
    gap: 2rem;
  }

  main .content .content-description .title {
    font-size: 2.5rem;
    text-align: center;
  }

  main .content .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }

  main .proli-section .article-container {
    flex-direction: column;
  }

  main .proli-section article {
    flex: 1;
    margin: 0.5rem 0;
  }

  main .mitra-section .logo-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  main .mitra-section img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin: 1rem;
  }

  main .tentang-kami-section .card-container {
    flex-direction: column;
  }

  main .tentang-kami-section .card-preface {
    padding: 1rem;
  }

  main .tentang-kami-section .facilities-subsection {
    margin-top: 1rem;
  }

  main .tentang-kami-section .facilities-subsection .facility-images img {
    max-width: 100%;
    height: 200px;
  }

  main .kontak-section {
    padding: 3rem 0;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-form,
  .map-container {
    flex: 1;
    margin: 0;
  }

  .contact-form button {
    margin-top: 1rem;
  }

  footer .social,
  footer .link {
    flex-direction: column;
  }

  footer .link a {
    padding: 0.5rem 1rem;
  }

  main aside {
    display: none; /* Hide the social media aside on small screens */
  }
}

/* Small devices (450px and below) */
@media screen and (max-width: 450px) {
  header.navbar-container .logo img {
    width: 200px;
  }

  header.navbar-container .nav-list li a {
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
  }

  header.navbar-container .nav-list {
    display: none;
  }

  .mobile-menu-toggle {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .mobile-nav-list {
    display: block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e9ecef;
    position: absolute;
    top: 60px; /* Adjust the top margin as needed */
    left: 0;
  }

  main .content .content-description .title {
    font-size: 2rem;
    line-height: 3rem;
  }

  main .content .content-description p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  main .content .content-description button {
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
  }

  main .content .content-image img {
    width: 100%;
    min-width: 300px;
  }

  main .proli-section article {
    flex: 1;
    margin: 0.5rem 0;
  }

  main .mitra-section img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 1rem;
  }

  main .tentang-kami-section .facilities-subsection img {
    max-width: 100%;
    height: 150px;
  }

  footer .social a {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  footer .link a {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }

  main aside .social-media ul {
    padding: 1rem;
  }

  main aside .social-media li a {
    font-size: 1.2rem;
  }

  .whatsapp-floating {
    bottom: 15px;
    right: 15px;
    padding: 20px;
  }

  .whatsapp-floating i {
    font-size: 35px;
  }
}
